<html layout:decorate="~{layout-index}">
<body>
	<div layout:fragment="corpo">
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Dados para Entrega</h3>
							</div>
							<form method="get" action=".">
								<div class="form-group">
									<label>Nome: <input class="input" name="cep" type="text" 
										value="" size="10" maxlength="9"
										onblur="pesquisacep(this.value);" /></label>
								</div>
								
								<div class="form-group">
									<label>Email: <input class="input" name="cep" type="email" 
										value="" size="10" maxlength="9"
										onblur="pesquisacep(this.value);" /></label>
								</div>
							
								<div class="form-group">
									<label>Cep: <input class="input" name="cep" type="text" id="cep"
										value="" size="10" maxlength="9"
										onblur="pesquisacep(this.value);" /></label>
								</div>
								<br />
								<div class="form-group">
									<label>Rua: <input class="input" name="rua" type="text" id="rua"
										size="60" />
									</label><br />
								</div>

								<div class="form-group">
									<label>Bairro: <input class="input" name="bairro" type="text"
										id="bairro" size="40" /></label> <br />
								</div>

								<div class="form-group">
									<label>Cidade: <input class="input" name="cidade" type="text"
										id="cidade" size="40" /></label> <br />
								</div>
								<div class="form-group">
									<label>Estado: <input class="input" name="uf" type="text" id="uf"
										size="2" />
									</label>
								</div>

							</form>

						</div>
						<!-- /Billing Details -->
					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Sua Compra</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div>
									<strong>LIVRO</strong>
								</div>
								<div>
									<strong>TOTAL</strong>
								</div>
							</div>
							<div th:each="itempedido : ${itempedidos}">
								<div class="order-products">
									<div class="order-col">
										<th:block th:each="livro : ${itempedido.livro}">
											<div>
												<span th:text="${livro.titulo}"></span>
											</div>
											<div>
												<span th:text="${livro.preco}"></span>
											</div>
										</th:block>
									</div>

								</div>
							</div>
						</div>


						<a href="#" class="primary-btn order-submit">Comprar</a>
					</div>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
	</div>


</body>
<!-- /SECTION -->
</html>