<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layouts/layout-index-loja}">
<head>
<meta charset="utf-8">
</head>
<body>
	<!-- STORE -->
	<div layout:fragment="corpo">

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Cart -->
					<h2>Seu Carrinho de Compras</h2>

					<div class="col-md-12">
						<div class="cart-list">
							<div th:each="itempedido : ${itempedidos}">
								<div class="product-widget">
									<th:block th:each="livro : ${itempedido.livro}">
										<div class="product-img">
											<img th:src="${livro.url}" alt="">
										</div>
									</th:block>
									<div class="product-body">
										<h3 class="product-name">
											<th:block th:each="livro : ${itempedido.livro}">
												<span th:text=${livro.titulo}></span>
											</th:block>
										</h3>
										<th:block th:each="livro : ${itempedido.livro}">
											<h4 class="product-price">
												R$ <span class="qty" id="preco" th:text=${livro.preco}></span>
											</h4>
										</th:block>
										<a class="btn" th:href="@{/item-pedido/deletecar/{id} (id=${itempedido.id})}"><i class="fa fa-trash"></i></a>
									</div>
								</div>
								

							</div>
							<hr class="col-md-4">
						</div>
					</div>
					
					<h3>Valor Total: R$ <span></span></h3>
				</div>
				<div class="col-mdm-12">
					<button class="primary-btn">Confirmar e comprar</button>
				</div>
		
				<!-- /Cart -->



			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
	</div>



</body>



</html>
