<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" th:href="@{/img/favicon.png}">

<title>Livraria LM - Livros para todos os gostos!</title>

<!-- Google font -->
<link
	th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,500,700}"
	rel="stylesheet">

<!-- Bootstrap -->
<link type="text/css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />

<!-- Slick -->
<link type="text/css" rel="stylesheet" th:href="@{/css/slick.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/css/slick-theme.css}" />

<!-- nouislider -->
<link type="text/css" rel="stylesheet"
	th:href="@{/css/nouislider.min.css}" />

<!-- Font Awesome Icon -->
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">

<!-- Custom stlylesheet -->
<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<!-- HEADER -->
	<header>
		<!-- TOP HEADER -->
		<div id="top-header">
			<div class="container">
				<ul class="header-links pull-right">
					<li><a href="#"><i class="fa fa-user-o"></i>Usuário</a></li>
				</ul>
			</div>
		</div>
		<!-- /TOP HEADER -->
		<!-- MAIN HEADER -->
		<div th:replace="fragmentos/main-header :: main-header"></div>
		<!-- /MAIN HEADER -->


	</header>
	<!-- /HEADER -->

	<!-- NAVIGATION  -->
	<nav id="navigation" th:replace="fragmentos/navigation :: navigation">

		<!-- /container -->
	</nav>
	<!-- /NAVIGATION -->

	

	<!-- CORPO -->
	<div layout:fragment="corpo"></div>
	<!-- /CORPO -->

	<!-- NEWSLETTER -->
	<div id="newsletter" class="section">
		<!-- container -->
		<div class="container"></div>
		<!-- /container -->
	</div>
	<!-- /NEWSLETTER -->

	<!-- FOOTER -->
	<div th:replace="fragmentos/footer :: footer"></div>
	<!-- /FOOTER -->


	<!-- jQuery Plugins -->
	<script th:src="@{/js/script.js}"></script>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/slick.min.js}"></script>
	<script th:src="@{/js/nouislider.min.js}"></script>
	<script th:src="@{/js/jquery.zoom.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/teste.js}"></script>
	<script th:src="@{/js/config.js}"></script>


	<!-- Adicionando Javascript -->
		 <script type="text/javascript" th:inline="javascript" >
    
    function limpa_formulário_cep() {
            //Limpa valores do formulário de cep.
            document.getElementById('rua').value=("");
            document.getElementById('bairro').value=("");
            document.getElementById('cidade').value=("");
            document.getElementById('uf').value=("");
            document.getElementById('ibge').value=("");
    }

    function meu_callback(conteudo) {
        if (!("erro" in conteudo)) {
            //Atualiza os campos com os valores.
            document.getElementById('rua').value=(conteudo.logradouro);
            document.getElementById('bairro').value=(conteudo.bairro);
            document.getElementById('cidade').value=(conteudo.localidade);
            document.getElementById('uf').value=(conteudo.uf);
            document.getElementById('ibge').value=(conteudo.ibge);
        } //end if.
        else {
            //CEP não Encontrado.
            limpa_formulário_cep();
            alert("CEP não encontrado.");
        }
    }
        
    function pesquisacep(valor) {

        //Nova variável "cep" somente com dígitos.
        var cep = valor.replace(/\D/g, '');

        //Verifica se campo cep possui valor informado.
        if (cep != "") {

            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;

            //Valida o formato do CEP.
            if(validacep.test(cep)) {

                //Preenche os campos com "..." enquanto consulta webservice.
                document.getElementById('rua').value="...";
                document.getElementById('bairro').value="...";
                document.getElementById('cidade').value="...";
                document.getElementById('uf').value="...";
                document.getElementById('ibge').value="...";

                //Cria um elemento javascript.
                var script = document.createElement('script');

                //Sincroniza com o callback.
                script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

                //Insere script no documento e carrega o conteúdo.
                document.body.appendChild(script);

            } //end if.
            else {
                //cep é inválido.
                limpa_formulário_cep();
                alert("Formato de CEP inválido.");
            }
        } //end if.
        else {
            //cep sem valor, limpa formulário.
            limpa_formulário_cep();
        }
    };

    </script>
</body>
</html>
