<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layouts/layout-index-loja}">
<head>
<meta charset="utf-8">
</head>
<body>
	<!-- STORE -->
	<div layout:fragment="corpo">

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Products tab & slick -->
					<div class="col-md-12" align="center">
						<div class="row">
							<div th:each="livro : ${livros}">
								<form th:action="@{/carrinho/add}" method="post">
								<input type="hidden" th:field="*{livro.id}" th:value="${livro.id}">
									<!-- product -->
									<div class="col-md-3">
										<div class="product">
											<div class="product-img">
												<img th:src="${livro.url}" alt="">
											</div>
											<div class="product-body">
												<h3 class="product-name">
													<a id="livroTitulo" th:text="${livro.titulo}"></a>
												</h3>
												<h4 class="product-price">
													R$ <span class="item-total" id="value"
														th:text="${livro.preco}"></span>
												</h4>
												<div class="product-btns">
													<a class="add-to-wishlist" href="#"> <i
														class="fa fa-heart-o"></i>
													</a> <a class="quick-view"
														th:href="@{/livro/detalhes/{id} (id=${livro.id})}"> <i
														class="fa fa-eye"></i>
													</a>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn" type="submit">
													<i class="fa fa-shopping-cart"></i>Adicionar
												</button>
											</div>

											<!-- 										<div class="add-to-cart"> -->
											<!-- 											<button class="add-to-cart-btn" onclick="addData();"> -->
											<!-- 												<i class="fa fa-shopping-cart"></i><a class="branco" -->
											<!-- 													th:href="@{/item-pedido/save?quantidade=1&valorTotal=&livro={id}&_livro=on (id=${livro.id}) }">Adicionar</a> -->
											<!-- 											</button> -->
											<!-- 										</div> -->

											<!-- 										<a class="add-to-cart-btn" -->
											<!-- 											th:href="@{/item-pedido/save?quantidade=1&valorTotal=&livro={id}&_livro=on (id=${livro.id}) }">Adicionar</a> -->
										</div>
									</div>
								</form>

								<!-- /product -->

							</div>
							<!-- /tab -->

						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
	</div>
</body>



</html>
