<html lang="pt" layout:decorate="~{layout-login}">
<head>
<meta charset="utf-8">
<title>Livraria LM - Entrar</title>
</head>
<body>

	<!-- SECTION -->
	<div class="section" layout:fragment="corpo">
		<!-- container -->
		<div class="container" align="center">
			<!-- row -->
			<div class="row">

				<div class="col-md-4" align="center">
					<!-- Billing Details -->
					<div class="billing-details">
						<div class="section-title">
							<h3 class="title">Login do Usuário</h3>
						</div>
						<form  method="post" action="entrar">
						
						
							<div class="form-group">
								<input class="input" type="email" name="nome" placeholder="Email">
							</div>
							<div class="form-group">
								<input class="input" type="password" name="senha"
									placeholder="Senha">
							</div>

							<div class="form-group">
								<button type="submit" class="login-btn cta-btn">Entrar</button>
							</div>

							
							<a th:href="@{/usuario/add}">Cadastre-se</a>


						</form>


					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- /Billing Details -->
</body>



</html>