<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="layouts/header :: common-header" />

<body>
	<div th:replace="layouts/header :: navbar" />

	<div class="container">
		<div class="row" style="margin-bottom: -100px;">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<h2 class="section-headline">
						<span>Bem vindo(a)! </span><span
							th:text="${#strings.toUpperCase(user.username)}"></span>
					</h2>
				</h2>
			</div>
		</div>

		<div class="row" style="margin-top: 60px;">
			<div class="col-xs-9 col-xs-offset-3">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
					<li th:classappend="${classActiveEdit}? 'active'"><a
						href="#tab-1" data-toggle="tab"><span style="color: red;">Meu
								perfil</span></a></li>
					<li th:classappend="${classActiveOrders}? 'active'"><a
						href="#tab-2" data-toggle="tab"><span style="color: red;">Pedidos</span></a></li>
					<li th:classappend="${classActiveBilling}? 'active'"><a
						href="#tab-3" data-toggle="tab"><span style="color: red;">Pagamentos</span></a></li>
					<li th:classappend="${classActiveShipping}? 'active'"><a
						href="#tab-4" data-toggle="tab"><span style="color: red;">Entregas</span></a></li>
				</ul>

				<!-- Tab panels -->
				<div class="tab-content">

					<!-- Edit user information -->
					<div class="tab-pane fade" id="tab-1"
						th:classappend="${classActiveEdit}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">

									<div class="alert alert-danger" th:if="${incorrectPassword}">
										<strong> Senha incorreta!</strong> Por favor entre com a senha
										correta para o usuario.
									</div>

									<div class="alert alert-succss" th:if="${updateSuccess}">
										<strong> Atualizacao realizada com sucesso!</strong>
									</div>

									<form th:action="@{/updateUserInfo}" method="post">
										<input type="hidden" name="id" th:value="${user.id}" />

										<div class="bg-info" th:if="${updateUserInfo}">
											Informacao atualizada com sucesso!</div>

										<div class="form-group">
											<div class="row">
												<div class="col-xs-6">
													<label for="firstName">Nome</label> <input type="text"
														class="input" id="firstName" name="firstName"
														th:value="${user.firstName}" />
												</div>
												<div class="col-xs-6">
													<label for="lastName">Sobrenome</label> <input type="text"
														class="input" id="lastName" name="lastName"
														th:value="${user.lastName}" />
												</div>
											</div>
										</div>

										<div class="form-group">
											<label for="userName">Nome de Usuario</label> ' <input
												type="text" class="input" id="userName" name="username"
												th:value="${user.username}" />
										</div>
										<div class="form-group">
											<label for="currentPassword">Senha atual</label> ' <input
												type="password" class="input" id="currentPassword"
												name="password" th:value="${currentPassword}"
												placeholder="Digite a senha que voce recebebu no email" />
										</div>

										<div class="form-group">
											<label for="email">* Email</label> ' <input type="text"
												class="input" id="email" name="email"
												th:value="${user.email}" />
										</div>


										<div class="form-group">
											<label for="txtNewPassword">Senha</label>&nbsp;<span
												id="checkPasswordMatch" style="color: red;"></span> <input
												type="password" class="input" id="txtNewPassword"
												name="newPassword" />
										</div>

										<div class="form-group">
											<label for="txtConfirmPassword">Confirme a senha</label> ' <input
												type="password" class="input" id="txtConfirmPassword" />
										</div>

										<button id="updateUserInfoButton" type="submit"
											class="primary-btn cta-btn">Salvar</button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<!-- Order Information -->
					<div class="tab-pane fade" id="tab-2"
						th:classappend="${classActiveOrders}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">

									<table class="table table-sm table-inverse">
										<thead>
											<tr>
												<th>Data do Pedido</th>
												<th>Numero</th>
												<th>Total</th>
												<th>Status</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="order : ${orderList}">
												<td><a th:href="@{/orderDetail(id=${order.id})}"><span
														th:text="${order.pedidoDate}"></span></a></td>
												<td data-th-text="${order.id}"></td>
												<td data-th-text="${order.pedidoTotal}"></td>
												<td data-th-text="${order.pedidoStatus}"></td>
											</tr>
										</tbody>
									</table>


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end of container -->
	<div th:replace="layouts/header :: footer" />

	<div th:replace="layouts/header :: body-bottom-scripts" />
</body>
</html>
