
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="layouts/header :: common-header"/>


<body>
	<div th:replace="layouts/header :: navbar"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="breadcrumb-header">
					<span>Conta do Usuario</span>
				</h2>
			</div>
		</div>
	
		<div class="row" >
			<div class="col-md-6">

				<ul class="nav nav-tabs">
					<li th:classappend="${classActiveNewAccount}? 'active'"><a
						href="#tab-1" data-toggle="tab"><span style="color: red;">Criar nova conta</span></a></li>
					<li th:classappend="${classActiveLogin}? 'active'"><a
						href="#tab-2" data-toggle="tab"><span style="color: red;">Entrar</span></a></li>
					<li th:classappend="${classActiveForgetPassword}? 'active'"><a
						href="#tab-3" data-toggle="tab"><span style="color: red;">Esqueceu sua senha?</span></a></li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane fade" id="tab-1"
						th:classappend="${classActiveNewAccount}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<div class="alert alert-info" th:if="${emailSent}"> Um email foi enviado. Por favor, verifique a 
									sua caixa de entrada e confirme o seu cadastro. </div>
									<form th:action="@{/newUser}" method="post">
										<div class="form-group">
											<label for="newUsername">* Nome do Usuario: </label>&nbsp;<span
												style="color: red;" th:if="${usernameExists}"> Ops! Este nome de usuario ja
												existe. Tente outro!</span> <input
												required="required" type="text" class="input"
												id="newUsername" name="username" placeholder="Digite o seu nome de usuario aqui" />
										</div>

										<div class="form-group">
											<label for="email">* Email: </label><span
												style="color: red;" th:if="${emailExists}"> Ops! Esse email ja
												existe. Tente outro!</span> <input
												required="required" type="text" class="input"
												id="email" name="email" placeholder="Insira um email valido" />
										</div>

										<button type="submit" class="primary-btn cta-btn">Criar nova conta</button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<div class="tab-pane fade" id="tab-2"
						th:classappend="${classActiveLogin}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<div th:if="${param.error != null}" style="color:red;">Nome de usuario ou senha incorreta</div>
									<form th:action="@{/login}" method="post">
										<div class="form-group">
											<label for="username">* Nome de Usuario: </label> <input
												required="required" type="text" class="input"
												id="username" name="username" placeholder="Seu nome de usuario" />
										</div>

										<div class="form-group">
											<label for="password">* Senha: </label> <input
												required="required" type="password" class="input"
												id="password" name="password" placeholder="Sua senha" />
										</div>

										<button type="submit" class="primary-btn cta-btn">Entrar</button>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="tab-3"
						th:classappend="${classActiveForgetPassword}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<div th:if="${emailNotExist}" class="alert alert-danger"> Ops! Este email nao esta cadastrado</div>
									<div th:if="${forgetPasswordEmailSent}" class="alert alert-success">Email enviado!</div>
									<form th:action="@{/forgetPassword}" method="post">
										<div class="form-group">
											<label for="recoverEmail">* Email: </label> <input
												required="required" type="text" class="input"
												id="recoverEmail" name="email" placeholder="Digite aqui o email cadastrado" />
										</div>

										<button type="submit" class="primary-btn cta-btn">Enviar</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end of container -->
<div th:replace="layouts/header :: footer"></div>

	<div th:replace="layouts/header :: body-bottom-scripts"></div>
</body>
</html>
