<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8"/>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<link href="/css/non-responsive.css" rel="stylesheet" />

<link href="/css/font-awesome.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />

<style>
	table {
	border-collapse: collapse;
	}
	
	table, th, td {
	border:1px solid black;}
</style>
</head>
<body>
<p>Olá <span th:text="${user.firstName}"></span>,</p>
<br/>
<p>Obrigado por usar nossos serviços</p>
<p>O número do seu pedido é: <strong>#<span th:text="${order.id}"></span></strong></p>
<hr/>


<h3><strong>Resumo do pedido</strong></h3>
<table>
<thead>
	<tr>
		<td><strong>Nome do Livro</strong></td>
		<td class="text-center"><strong>Preço</strong></td>
		<td class="text-center"><strong>Quantidade</strong></td>
		<td class="text-right"><strong>Total</strong></td>
	</tr>
</thead>
<tbody>
	<tr th:each="cartItem : ${cartItemList}">
		<td><span data-th-text="${cartItem.livro.titulo}"></span></td>
		<td class="text-center" data-th-text="${cartItem.livro.preco}"></td>
		<td class="text-center" data-th-text="${cartItem.qtd}"></td>
		<td class="text-right" data-th-text="${cartItem.subtotal}"></td>
	</tr>
</tbody>
</table>

<br/>
<p>Livraria LM</p>
</body>
</html>