<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layout-index}">
<head>
<meta charset="utf-8">
</head>

<body>
	<!-- STORE -->
	<div layout:fragment="corpo">

		<div id="store" class="col-md-12">
			<div class="row">
				<div th:each="livro : ${livros}">
					<!-- product -->
					<div class="col-md-2 col-xs-6">
							<div class="product">
								<div class="product-img">
									<img th:src="@{/img/produto01.jpg}" alt="">
								</div>
								<div class="product-body">
									<h3 class="product-name">
										<a href="#" id="livro"><span th:text="${livro.titulo}"></span></a>
									</h3>
									<h4 class="product-price">
										<span>R$ <span id="preco" th:text="${livro.preco}"></span></span>
									</h4>

									<div class="product-btns">
										<button class="quick-view">
											<i class="fa fa-eye"></i><span class="tooltipp">Detalhes</span>
										</button>
									</div>
								</div>
							
								<div class="add-to-cart">
									<button class="add-to-cart-btn">
										<i class="fa fa-shopping-cart"></i><a class="branco" th:href="@{/save?quantidade=1&valorTotal={preco}&livro={id}&_livro=on (id=${livro.id}, preco=${livro.preco}) }">Adicionar</a>
									</button>
								</div>
							</div>
					</div>
					<!-- /product -->
				</div>
			</div>
		</div>

	</div>

</body>



</html>
