<html lang="pt" layout:decorate="~{layouts/layout-administrador}">
<head>
<meta charset="utf-8">
<title>Livraria LM - Cadastrar Livros</title>
</head>
<body>
	<!-- SECTION -->
	<div class="section" layout:fragment="corpo">
		<!-- container -->
		<div class="container" align="center">
			<!-- row -->
			<div class="row">

				<div class="col-md-12" align="center">
					<!-- Billing Details -->
					<div class="billing-details">
						<div class="section-title">
							<h3 class="title">Cadastro de Livros</h3>
						</div>
						<div class="col-md-12">
							<form method="post" th:object="${livro}"
								th:action="@{/livro/save}">

								<!-- Input responsável por guardar o ID -->
								<input id="id" name="id" type="hidden" th:field="*{id}"
									th:value="*{id}">

								<!-- DIV de Alerta de Erros -->
								<div class="alert alert-danger alert-dismissible" role="alert"
									th:if="${#fields.hasAnyErrors()}">
									<button type="button" class="close" data-dismiss="alert"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<div th:each="detailedError : ${#fields.detailedErrors()}">
										<strong>Atenção!</strong> <a
											th:text="${detailedError.message}"></a>
									</div>
								</div>


								<div class="col-md-6">
									<div class="form-group"
										th:classappend="${#fields.hasErrors('titulo')}? 'has-error'">
										<input class="input" type="text" placeholder="Titulo"
											th:field="*{titulo}">
									</div>
								</div>
								
								<div class="col-md-6">
									<div class="form-group"
										th:classappend="${#fields.hasErrors('url')}? 'has-error'">
										<input class="input" type="text" placeholder="URL Imagem do Livro"
											th:field="*{url}">
									</div>
								</div>


								<div class="col-md-6">
									<div class="form-group"
										th:classappend="${#fields.hasErrors('ano')}? 'has-error'">
										<input class="input" type="datetime" placeholder="Ano"
											th:field="*{ano}">
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group"
										th:classappend="${#fields.hasErrors('sinopse')}? 'has-error'">
										<textarea class="input" rows="2" cols="50" placeholder="Digite a Sinopse do Livro aqui" th:field="*{sinopse}"></textarea>
										<!-- <input class="input" placeholder="Sinopse" type="text"
											th:field="*{sinopse}"> -->
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group"
										th:classappend="${#fields.hasErrors('isbn')}? 'has-error'">
										<input class="input" placeholder="ISBN" type="text"
											th:field="*{isbn}">
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group"
										th:classappend="${#fields.hasErrors('edicao')}? 'has-error'">
										<input class="input" placeholder="Edição" type="text"
											th:field="*{edicao}">
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<input class="input" placeholder="Peso em KG" type="text"
											required="required" th:field="*{peso}">
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<input class="input" placeholder="Preço em R$" type="text"
											required="required" th:field="*{preco}" name="valor"
											onKeyPress="return(moeda(this,'.',',',event))">
									</div>
								</div>



								<div class="col-md-8">
									<div class="form-group">
										<select th:field="*{editora}" class="input">
											<option value="">Selecione a Editora</option>
											<option th:each="editora : ${editoras}"
												th:value="${editora.id}" th:text="${editora.nome}"></option>
										</select>
									</div>
								</div>

								<div class="col-md-8">
									<div class="form-group">
										<select th:field="*{editora}" class="input">
											<option value="">Selecione a Gategoria</option>
											<option th:each="categoria : ${categorias}"
												th:value="${categoria.id}" th:text="${categoria.nome}"></option>
										</select>
									</div>
								</div>

								<div class="col-md-8" align="left">
									<label>Selecione o(s) autor(es)</label>
									<div class="form-group">
										<div class="scrollmenu">
											<div th:each="autor : ${autores}">
												<input type="checkbox" th:field="*{autor}"
													th:value="${autor.id}"><span th:text="${'  '}"></span><span
													th:text="${autor.nome}"></span><br>
											</div>

										</div>
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<button type="submit" class="primary-btn cta-btn">Cadastrar</button>
									</div>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- /Billing Details -->

</body>
</html>