<html lang="pt" layout:decorate="~{layouts/layout-administrador}">
<head>
<meta charset="utf-8">
<title>Livraria LM - Editoras</title>
</head>
<body>
	<div class="section" layout:fragment="corpo">
		<!-- container -->
		<div class="container" align="center">
			<!-- row -->
			<div class="row">

				<div  align="center">
					<!-- Billing Details -->
					<div class="billing-details">
						<div class="section-title">
							<h3 class="title">Lista de Editoras</h3>
						</div>
						<!-- DIV de Alerta de Sucessos -->
						<div class="alert alert-success alert-dismissible" role="alert"
							th:if="${success}">
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>

							<strong>Sucesso!</strong> <a th:text="${success}"></a>

						</div>
						<div class="col-md-10">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th scope="col">ID</th>
										<th scope="col">Nome</th>
										<th scope="col">Cidade</th>
										<th scope="col">Ações</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="editora : ${editoras}">
										<td scope="row" th:text="${editora.id}"></td>
										<td th:text="${editora.nome}"></td>
										<td th:text="${editora.cidade}"></td>
										<td><a class="btn btn-primary"
											th:href="@{/editora/edit/{id} (id=${editora.id})}">Editar</a> <a
											class="btn btn-danger"
											th:href="@{/editora/delete/{id} (id=${editora.id})}">Excluir</a></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="col-md-2" align="center">
							<hr>
							<a class="primary-btn cta-btn" th:href="@{/editora/add}"><i class="fa fa-plus"> Novo</i></a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>





</body>
</html>