<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout-administrador}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<div class="section" layout:fragment="corpo">
		<!-- container -->
		<div class="container" align="center">
			<!-- row -->
			<div class="row">
			
				

				<div class="col-md-12" align="center">
					<!-- Billing Details -->
					<div class="billing-details">
						<div class="section-title">
							<h3 class="title">Cadastro de Livros</h3>
						</div>
						<div class="col-md-12">
							<form method="post" enctype="multipart/form-data"
								th:action="@{/imagem/save}">
								<p>
									<input type="file" name="file" />
								</p>
								<p>
									<input type="submit" value="Upload" />
								</p>
							</form>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- /Billing Details -->








</body>
</html>